.costum-btn {
    background: none;
    border: 1px solid black;
    font-size: 20px;
    font-family: "montserrat";
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    color: black;
    cursor: pointer;
}

.costum-btn:hover {
    color: white;
}

.costum-btn::before {
    background-color: black;
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    transition: 0.8s;
    z-index: -1;
    top:0;
}

.costum-btn:hover::before {
    width: 100%;
}
