.costum-text-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.text-field {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
}

.costum-text-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.costum-text-field .text-field:focus + .placeholder,
.costum-text-field .text-field:valid + .placeholder {
    top: 10px;
    font-size: 10px;
    color: #222;
}